################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cryptography.AesCrypt/bin/Debug
/Cryptography.AesCryptTest/bin/Debug
/Cryptography.AesCrypt/obj/Debug
/Cryptography.AesCryptTest/obj/Debug
/Utility.DataGeneration/obj/Debug
/Utility.DataGeneration/bin/Debug
/.vs/Cryptography.AesCrypt/v15/sqlite3
/.vs/Cryptography.AesCrypt/v15/.suo
/.vs/Cryptography.AesCrypt/copilot-chat/5ab78c42/sessions
/.vs/Cryptography.AesCrypt/CopilotIndices/17.14.698.11175
/.vs/Cryptography.AesCrypt/FileContentIndex
/.vs/Cryptography.AesCrypt/v17/TestStore/0
/.vs/Cryptography.AesCrypt/v17/DocumentLayout.backup.json
/.vs/Cryptography.AesCrypt/v17/DocumentLayout.json
/.vs/Cryptography.AesCrypt/v17
